body {
    margin: 0;
  }

.Landing{
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    padding: 30px;
    background-color: #D5E1E1;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
}

p {
    font-size: 30px;
    margin-top: 90px;
}


.visible {
    /* display: flex; */
    top: 0;
    transition: top 0.4s ease-out;
}

.hidden {
    /* display: none; */
    top: -80px;
    transition: top 0.4s ease-out;
}

.one-screen-container{
    display: flex;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #D5E1E1;
    
}

.second-one-screen-container {
    background-color: #1B1464;
}

.one-option-button {
    right: 0;
    top: 15px;
    position: absolute;
    margin-right: 10vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    width: 200px;
    background: #252525;
    border-radius: 60px;
    font-size: 1rem;
    color: #D5E1E1;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    overflow-x: hidden;
}

.marquee{
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    max-width: 100%;

}


.track{
    white-space: nowrap;
    will-change: transform;
    animation: 40s linear infinite marquee;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-150%); }
  }

.images-container{
    margin-top: auto;
    width: 100%;
    height: 90%;
    position: absolute;
    display: inline;
    float: none;
    box-sizing: border-box;
    bottom: 0;
}

  .above-image-container {
    margin-top: auto;
    width: 100%;
    height: 30%;
    position: absolute;
    display: inline;
    float: none;
    box-sizing: border-box;
    top: 0;
  }

.above-image-container img {
    bottom:0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    max-height: 300px;
}
.image-container{
    margin-top: auto;
    width: 100%;
    height: 55%;
    background-color: #890;
    position: absolute;
    display: inline;
    float: none;
    box-sizing: border-box;
    bottom: 0;
}

.image-container img{
    bottom:0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}